#page_header {
    font-size: 50px;
    font-weight: 900;
}

#navbar, #dropdown {
    background-color: #960000;
}

#home {
    text-decoration: none;
    color: white;
}

#home:hover {
    color: blue;
}

header.container {
    color: #000092;
}

body {
    background-color: #fa6432;
}

p {
    font-family: "Times New Roman", serif;
}

h1, h2, h3, h4 {
    font-weight: bold;
}

.btn {
    color: white;
    background-color: blue;
}

a:hover {
    color: white;
}

img {
    padding-right: 100px;
    padding-left: 100px;
    padding-bottom: 50px;
}

.img-fluid {
    max-width: 60%;
    height: auto;
}

#navigation {
    color: white;
}

#navigation:hover {
    color: blue;
}

#soccer_list {
    max-width: 500px;
}

#dropdown-result {
    background-color: #00c896;
}